# SUPERTOKENS

NEXT_PUBLIC_SUPERTOKENS_APP_NAME=Shoja.ai
NEXT_PUBLIC_SUPERTOKENS_API_DOMAIN=https://app.shoja.ai/api/v1
NEXT_PUBLIC_SUPERTOKENS_WEBSITE_DOMAIN=https://app.shoja.ai
NEXT_PUBLIC_SUPERTOKENS_API_BASE_PATH=/api/v1/auth
NEXT_PUBLIC_SUPERTOKENS_WEBSITE_BASE_PATH=/auth

SUPERTOKENS_CONNECTION_URI=


# SOCIAL AUTHs

AUTH_GITHUB_CLIENT_ID=
AUTH_GITHUB_CLIENT_SECRET=

AUTH_GOOGLE_CLIENT_ID=
AUTH_GOOGLE_CLIENT_SECRET=

NEXT_PUBLIC_AUTH_SOCIAL_CALLBACK=


# DB -------------------------------------

AUTH_DB=auth
APP_DB=app

DB_HOST="localhost"
DB_USER=user
DB_PASSWORD=password
INIT_DB_LIST="${AUTH_DB},${APP_DB}"

# APP_DB_URL="postgres://user:password@db:5432/app"


# INTEGRATIONS -------------------------------------

# 0. Recall AI
RECALL_API_BASE_PATH=
RECALL_API_KEY=
RECALL_ZOOM_OAUTH_APP_ID=

# 1. Google Calendar
NEXT_PUBLIC_INTEGRATION_GOOGLE_CALENDAR_CALLBACK=https://app.shoja.ai/integrations/callbacks/google

# 2. Zoom APP
NEXT_PUBLIC_ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=
ZOOM_WEBHOOK_SECRET=
NEXT_PUBLIC_ZOOM_REDIRECT_URL=https://app.shoja.ai/integrations/callbacks/zoom

# 3. Slack APP
SLACK_API_BASE_PATH=https://slack.com/api/
NEXT_PUBLIC_SLACK_REDIRECT_URL=https://local-dev.shoja.ai/integrations/callbacks/slack
NEXT_PUBLIC_SLACK_REDIRECT_PATH=/integrations/callbacks/slack
NEXT_PUBLIC_SLACK_AUTH_URL=""

SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_SIGNING_SECRET=

# SERVICES -----------------------------------------

# Transcription API
ASSEMBLY_AI_API_KEY=

# Digital Ocean S3
S3_REGION=BLR1
S3_BUCKET=shoja-dev
S3_ENDPOINT=https://blr1.digitaloceanspaces.com
S3_CDN=https://blr1.cdn.digitaloceanspaces.com
S3_ACCESS_KEY=
S3_SECRET_KEY=

S3_PRESIGNED_URL=https://shoja-dev.blr1.digitaloceanspaces.com
S3_PRESIGNED_CDN=https://shoja-dev.blr1.cdn.digitaloceanspaces.com
